services:
  service-a:
    build: ./serviceA
    ports:
      - "100:8080"
    links:
      - service-b
    # volumes:
    #   - ./serviceA/src:/usr/src/app/src
  service-b:
    build: ./serviceB
    ports:
      - "80:8080"